<div class="flex flex-row w-screen ">
  <div class="bg-red-400 border-2">
    <div class="text-slate-50">
      <p class="text-5xl my-8">Let's Make</p>
      <p class="text-5xl my-8">Better Life With</p>
      <p class="text-5xl my-8"><em>BullStock</em> Trading!</p>
    </div>
    <div>
      <p>Get real time monitoring of stock prices and grow your portfolio in this virtual trading platform!
      </p>
    </div>
  </div>
  <div class="bg-yellow-400 border-2 grid h-full place-items-center">SVG</div>
</div>
