<%= render 'shared/error_message', object: @deposit_transaction %>
<div class= 'bg-slate-100 max-w-lg m-auto p-6 rounded-md mt-4 text-center'>
  <h1 class='text-center text-4xl font-bold'>Deposit Amount ($)</h1>
  <div class='bg-slate-200 mt-4 p-2 rounded-md'>
    <%= form_with scope: :deposit_transaction, url: deposit_balance_transactions_path do |form| %>
      <%= form.number_field :amount, class: 'rounded-lg border-slate-300 focus:border-green-500 focus:ring-green-500 mt-2 w-full text-center text-xl', placeholder: 'Amount to deposit (50, 100)' %>
      <%= form.submit "Confirm Deposit", class: 'bg-green-400 p-2 rounded-md cursor-pointer font-medium text-lg hover:bg-green-500 mt-4 w-full'%>
    <% end %>
  </div>
</div>
