<%= link_to "#{display_purchase_or_search} Stock", new_search_stock_path, class: 'bg-green-400 rounded-md p-2 font-bold hover:bg-green-500 text-xl' %>
<%= link_to 'Show Portfolio', trader_stocks_path, class: 'bg-green-400 rounded-md p-2 font-bold hover:bg-green-500 text-xl'%>
<div class='overflow-x-auto'>
  <table class='bg-blue-100 rounded-md mt-6'>
    <thead>
      <tr class='bg-blue-500 overflow-scroll'>
        <th class='p-1'>Symbol</th>
        <th>Company Name</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Amount</th>
        <th>Transaction Type</th>
      </tr>
    </thead>
    <tbody class='overflow-x-scroll'>
      <%= render @transactions %>
    </tbody>
  </table>
</div>
