<%= link_to 'Purchase Stock', new_search_stock_path %>
<%= link_to 'Show Portfolio', trader_stocks_path %>
<table class='bg-green-100 rounded'>
  <tr class='bg-green-500'>
    <th class='p-1'>Symbol</th>
    <th>Company Name</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Amount</th>
    <th>Transaction Type</th>
  </tr>
  <%= render @transactions %>
</table>
