<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Bull Stock!</h1>
    <p>
      Your account has been approved. You can now trade stocks on the platform.
    </p>
    <p>
      To login to the site, just click this link: <%= link_to "Login", new_user_session_url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
