<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.email %>!</h1>
    <p>
      Due to some reason, your account has been deleted. 
    </p>
    <p>
      Thank you for your patronage and interest in using BullStock as your Trading App.
    </p>
  </body>
</html>
