---
http_interactions:
- request:
    method: get
    uri: https://sandbox.iexapis.com/v1/stock/MSFT/quote?token=Tpk_bcaf36c73b954ff8af2fdc063539de21
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '2'
      Iexcloud-Credits-Used:
      - '2'
      Iexcloud-Premium-Messages-Used:
      - '0'
      Iexcloud-Premium-Credits-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"avgTotalVolume":29506558,"calculationPrice":"close","change":-0.76,"changePercent":-0.0029,"close":0,"closeSource":"cfaiiolf","closeTime":null,"companyName":"Microsoft
        Corporation","currency":"USD","delayedPrice":null,"delayedPriceTime":null,"extendedChange":null,"extendedChangePercent":null,"extendedPrice":null,"extendedPriceTime":null,"high":0,"highSource":null,"highTime":null,"iexAskPrice":null,"iexAskSize":null,"iexBidPrice":null,"iexBidSize":null,"iexClose":275.66,"iexCloseTime":1712191237468,"iexLastUpdated":null,"iexMarketPercent":null,"iexOpen":275.96,"iexOpenTime":1727967169062,"iexRealtimePrice":null,"iexRealtimeSize":null,"iexVolume":null,"lastTradeTime":1707548549761,"latestPrice":269.24,"latestSource":"Close","latestTime":"July
        8, 2022","latestUpdate":1683870340845,"latestVolume":null,"low":0,"lowSource":null,"lowTime":null,"marketCap":2059769799311,"oddLotDelayedPrice":null,"oddLotDelayedPriceTime":null,"open":0,"openTime":null,"openSource":"flcfoiai","peRatio":28.25,"previousClose":269.6,"previousVolume":21588274,"primaryExchange":"SAQNAD","symbol":"MSFT","volume":null,"week52High":366.85,"week52Low":252.46,"ytdChange":-0.21107813569191916,"isUSMarketOpen":false}'
  recorded_at: Mon, 11 Jul 2022 01:31:33 GMT
- request:
    method: get
    uri: https://sandbox.iexapis.com/v1/stock/msft/logo?token=Tpk_bcaf36c73b954ff8af2fdc063539de21
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '2'
      Iexcloud-Credits-Used:
      - '2'
      Iexcloud-Premium-Messages-Used:
      - '0'
      Iexcloud-Premium-Credits-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"/gg/lh7dggpoaogaloi.lp/xo.TScMo.gp/ls:he3-tpim//sFcpnosaeoottiuser"}'
  recorded_at: Mon, 11 Jul 2022 01:31:34 GMT
[...]
- request:
    method: get
    uri: https://sandbox.iexapis.com/v1/stock/msft/logo?token=Tpk_bcaf36c73b954ff8af2fdc063539de21
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '2'
      Iexcloud-Credits-Used:
      - '2'
      Iexcloud-Premium-Messages-Used:
      - '0'
      Iexcloud-Premium-Credits-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"dor7mocll./a/oxpgo3ihnTgsMaa/os:etoltiFg-/plcoessgeip/gh/uS.tgp.op"}'
  recorded_at: Mon, 11 Jul 2022 01:33:16 GMT
recorded_with: VCR 6.1.0
