---
http_interactions:
- request:
    method: get
    uri: https://sandbox.iexapis.com/v1/stock/MSFT/quote?token=Tpk_bcaf36c73b954ff8af2fdc063539de21
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '2'
      Iexcloud-Credits-Used:
      - '2'
      Iexcloud-Premium-Messages-Used:
      - '0'
      Iexcloud-Premium-Credits-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"avgTotalVolume":29254385,"calculationPrice":"close","change":-0.74,"changePercent":-0.00289,"close":0,"closeSource":"caflfiio","closeTime":null,"companyName":"Microsoft
        Corporation","currency":"USD","delayedPrice":null,"delayedPriceTime":null,"extendedChange":null,"extendedChangePercent":null,"extendedPrice":null,"extendedPriceTime":null,"high":0,"highSource":null,"highTime":null,"iexAskPrice":null,"iexAskSize":null,"iexBidPrice":null,"iexBidSize":null,"iexClose":270.91,"iexCloseTime":1712546385431,"iexLastUpdated":null,"iexMarketPercent":null,"iexOpen":268.57,"iexOpenTime":1682035266454,"iexRealtimePrice":null,"iexRealtimeSize":null,"iexVolume":null,"lastTradeTime":1699407750373,"latestPrice":270.94,"latestSource":"Close","latestTime":"July
        8, 2022","latestUpdate":1668731002611,"latestVolume":null,"low":0,"lowSource":null,"lowTime":null,"marketCap":2025116222166,"oddLotDelayedPrice":null,"oddLotDelayedPriceTime":null,"open":0,"openTime":null,"openSource":"ifiolafc","peRatio":28.1,"previousClose":278.1,"previousVolume":21138956,"primaryExchange":"DASAQN","symbol":"MSFT","volume":null,"week52High":354.34,"week52Low":247.63,"ytdChange":-0.21172146036485937,"isUSMarketOpen":false}'
  recorded_at: Mon, 11 Jul 2022 01:50:14 GMT
- request:
    method: get
    uri: https://sandbox.iexapis.com/v1/stock/msft/logo?token=Tpk_bcaf36c73b954ff8af2fdc063539de21
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '2'
      Iexcloud-Credits-Used:
      - '2'
      Iexcloud-Premium-Messages-Used:
      - '0'
      Iexcloud-Premium-Credits-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"/Fpp.sei-xgio/utg//lon/gdgmgsMcrashtlopoocg3Se./aise7.lpotolTah:po"}'
  recorded_at: Mon, 11 Jul 2022 01:50:15 GMT
[...]
- request:
    method: get
    uri: https://sandbox.iexapis.com/v1/stock/msft/logo?token=Tpk_bcaf36c73b954ff8af2fdc063539de21
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '2'
      Iexcloud-Credits-Used:
      - '2'
      Iexcloud-Premium-Messages-Used:
      - '0'
      Iexcloud-Premium-Credits-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"Fsegoog/.ppiop/dteS.sactlop/ghpg/oeogic3-:gsoTln7.l/ashoarmxulM/it"}'
  recorded_at: Mon, 11 Jul 2022 01:50:57 GMT
recorded_with: VCR 6.1.0
