<div class='flex flex-col items-center'>
  <div class='bg-slate-100 border border-slate-300 rounded-lg py-4 px-8 w-[calc(100%-64px)]'>
    <div class='flex flex-wrap justify-between m-auto items-center gap-2'>
      <h1 class='font-bold text-3xl'> Portfolio </h1>
      <div class='flex flex-wrap gap-2 font-medium text-2xl'>
        <p>Portfolio Value: <%= number_to_currency(@stocks_value) %></p>
        <p class='hidden sm:inline'>|</p>
        <p>Overall Shares: <%= @number_of_shares %></p>
        <p class='hidden sm:inline'>|</p>
        <%= link_to "#{display_purchase_or_search} Stock", new_search_stock_path, class: 'text-white bg-blue-500 rounded-md py-1 px-2 hover:bg-blue-600 text-lg' %>
      </div>
    </div>
    <% unless current_user.approved? %>
      <p class='bg-red-400 text-center rounded-md p-4 text-xl font-bold my-2 border-2 border-slate-700 w-fit m-auto'> Reminder: Please wait for admin approval to purchase a stock. For now, you can only search for a stock. </p>
    <% end %>
    <% if current_user.stocks.count > 0 %>
      <div class='overflow-auto mt-2 mx-auto'>
        <table class='bg-blue-100 w-full'>
          <tr class='bg-blue-500 text-lg text-white'>
            <th class='p-2'>Symbol</th>
            <th class='p-2'>Company Name</th>
            <th class='p-2'>Quantity</th>
            <th class='p-2'>Unit Price</th>
            <th class='p-2'>Amount</th>
            <th class='p-2'>Actions</th>
          </tr>
          <%= render @stocks %>
        </table>
      </div>
    <% end %>
  </div>
</div>
