<%= link_to "#{display_purchase_or_search} Stock", new_search_stock_path %>
<% if current_user.stocks.count > 0 %>
  <%= link_to 'Show Transactions', trader_transactions_path%>
  <table class='bg-green-100 rounded'>
    <tr class='bg-green-500'>
      <th class='p-1'>Symbol</th>
      <th>Company Name</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Amount</th>
      <th>Actions</th>
    </tr>
    <%= render @stocks %>
  </table>
<% end %>
