<div class='flex flex-col items-center'>
  <div class='flex flex-wrap gap-4'>
    <%= link_to "#{display_purchase_or_search} Stock", new_search_stock_path, class: 'bg-green-400 rounded-md p-2 font-bold hover:bg-green-500 text-xl' %>
    <%= link_to 'Show Portfolio', trader_stocks_path, class: 'bg-green-400 rounded-md p-2 font-bold hover:bg-green-500 text-xl'%>
    <%= link_to "Show Balance Transactions", trader_balance_transactions_path, class: 'bg-green-400 rounded-md p-2 font-bold hover:bg-green-500 text-xl' %>
  </div>
  <h1 class='font-bold text-4xl mt-4'> Stock Transactions </h1>
  <div class='overflow-auto mt-4 w-[calc(100%-64px)]'>
    <table class='bg-blue-100 rounded m-auto'>
      <thead>
        <tr class='bg-blue-500 text-lg'>
          <th class='p-2'>Time</th>
          <th class='p-2'>Transaction Type</th>
          <th class='p-2'>Symbol</th>
          <th class='p-2'>Company Name</th>
          <th class='p-2'>Quantity</th>
          <th class='p-2'>Unit Price</th>
          <th class='p-2'>Amount</th>
        </tr>
      </thead>
      <tbody class='overflow-x-scroll'>
        <%= render @stock_transactions %>
      </tbody>
    </table>
  </div>
</div>
