<p>Welcome to BullStock, <%= @email %>!</p>
<p>You can confirm your account email through the link below:</p>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
<p>If you haven't asked for any confirmation, ignore this e-mail.</p>
